body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* DragDropComponent.css */

dialog {
  border: 1px solid red;
}
.create-page-wrapper-two {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.create-modal-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  background-color: rgb(204, 204, 204);
  padding: 10px 20px 10px 20px;
}
.drag-drop-container {
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s;
}

.drag-drop-container.dragging {
  border-color: #007bff;
}

.drop-area {
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}
.open-folder-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.image-previews {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.image-previews > img {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  padding: 35px 25px 100px 25px;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid rgb(202, 202, 202);
  box-sizing: border-box;
  max-width: 17vw;
  width: 100%;
}
.instagram-heading {
  margin: 0;
}
.navbar-upper-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  height: 50vh;
}

/* Profile page */

.profile-page-wrapper-one {
  display: flex;
  box-sizing: border-box;
  border: 1px solid red;
}

.profile-page-wrapper-two {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.profile-page-wrapper-three {
  padding: 50px;
  width: 100%;
  max-width: 900px;
  border: 1px solid red;
  display: flex;
  gap: 40px;
}
.profile-page-wrapper-four {
  display: flex;
  flex-direction: column;
}
.profile-stats {
  display: flex;
  gap: 20px;
}

dialog {
  z-index: 10;
  margin-top: auto;
  background: white;
  border: none;
  border-radius: 1rem;
  width: 600px;
  min-height: 600px;
  max-height: 80vh;
  padding: 0;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 60%);
}
