body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 35px 25px 100px 25px;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid rgb(202, 202, 202);
  box-sizing: border-box;
  max-width: 20vw;
}
.instagram-heading {
  margin: 0;
}
.navbar-upper-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  height: 50vh;
}
