body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 35px 25px 100px 25px;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid rgb(202, 202, 202);
  box-sizing: border-box;
  max-width: 17vw;
  width: 100%;
}
.instagram-heading {
  margin: 0;
}
.navbar-upper-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  height: 50vh;
}

/* Profile page */

.profile-page-wrapper-one {
  display: flex;
  box-sizing: border-box;
  border: 1px solid red;
}

.profile-page-wrapper-two {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.profile-page-wrapper-three {
  width: 100%;
  max-width: 900px;
  border: 1px solid red;
}
